<h1><%= @game.name %></h1>
<h3>Let's play!</h3>

<table border="1">
  <% 8.times do |row| %>
    <tr>
      <% 8.times do |space| %>
        <% piece = @game.pieces.where(x_position: space, y_position: row).first %>
        <% if piece %>
          <td><%= piece.image.html_safe %></td>
        <% else %>
          <td>&nbsp;</td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>